html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, caption {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	/* Old browsers */
	background: #141E30;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(#72758e, #060b33);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(#72758e, #060b33);
	background-size: cover;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

#wrapper{
	margin: auto;
	margin-left: 3em;
	margin-right: 3em;
	width: 115.9em;
}

h1 {
	color: #151515;
	font-family: "Open Sans", sans-serif;
	font-size: 2.2em;
	font-weight: 800;
	text-shadow: .07em .07em #72758e;
}

h2 {
	color: rgba(255, 255, 255, 0.7);
	font-family: "Open Sans", sans-serif;
	font-size: 2em;
	font-weight: 600;
	text-shadow: .1em .1em #151515;
}

h3 {
	color: rgba(255, 255, 255, 0.75);
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 1.3em;
}

h4, h5 {
	display: inline;
}

h4 {
	color: rgba(255, 255, 255, 0.75);
	font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
	font-style: italic;
}

h5 {
	color: white;
	font-family: "Baloo Tammudu", sans-serif;
	font-size: 2em;
	font-weight: 100;
}

p {
	color: rgba(255, 255, 255, 0.75);
	font-family: "Open Sans", sans-serif;
	font-size: 1.1em;
	line-height: 1.1em;
}

header {
	border-bottom: .25em groove #72758e;
	background-image: url("images/title.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #000;
	font-family: Palatino, serif;
	font-size: 4.8em;
	font-weight: 300;
	height: 2.5em;
	line-height: 1em;
	margin-left: -.7em;
	padding-top: .1em;
	padding-left: .6em;
	text-align: left;
	text-indent: -.4em;
	text-shadow: .02em .02em #99acc4;
}

select {
	height: 2em;
}

label {
	color: rgba(255, 255, 255, 0.75);
	position: relative;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	display: inline-block;
	width: 3em;
	top: 3em;
}

.top-text {
	display: inline-block;
	width: 50em;
	vertical-align: top;
}

.graph {
	display: inline-block;
	margin-right: 3em;
	margin-top: -1.5em;
}

.graphSide {
	display: inline-block;
	margin-top: -1.5em;
	vertical-align: top;
}

.graphBottom {
	top: -6em;
}

.quickInput {
	height: 1.5em;
	width: 1.5em;
}

.manualInput {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 3em;
	margin: auto;
	top: -4em;
}

.results {
	display: inline-block;
}

.result-options {
	display: inline-block;
	width: 25em;
	margin-right: 3em;
}

.resultInput {
	height: 1.5em;
	width: 2em;
	text-align: center;
	vertical-align: middle;
}

.slideshow-container {
	position: relative;
	vertical-align: top;
	line-height: 3em;
	width: 75em;
	height: 10em;
	display: none;
}

.slide {
	margin-left: 5em;
	display: none;
}

.prev, .next {
	display: block;
	position: absolute;
	cursor: pointer;
	width: 4em;
	height: 3em;
	line-height: 3em;
	color: white;
	font-family: "Baloo Tammudu", sans-serif;
	font-size: 1em;
	text-align: center;
	transition: 0.6s ease;
}

.next {
	bottom: 0;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}